MIME storage

```
datatype MIMEType of
    MkMIMEType Text Text (List (Text :*: Text))
end
type MIMELiteral
MIMELiteral <: Literal
D(MIMELiteral) = Literal
mimeType: MIMELiteral -> MIMEType
```
```
JPEGImage <: MIMELiteral
Text <: MIMELiteral
```
Conversion function `MIMELiteral <: Literal`:
* account for `Text`, matching "text/plain;charset=utf8" to `t` literal discriminator, also for dynamic supertype
* Use something like [RFC 2397 sec. 3](https://datatracker.ietf.org/doc/html/rfc2397#section-3) `mediatype` format in literal discriminator.

Possibility:
```
type TextualLiteral
TextualLiteral <: MIMELiteral
Text <: TextualLiteral
tlText: TextualLiteral -> Text
```

Better: all `Literal`s have a MIME type. `mimeType: Literal -> MIMEType`.

Done underlying support, no need for any interface for the time being.